*{
    margin:0;
    padding:0;
    font-family: "Alexandria";
}

:root {
    --purple1: #9747FF;
    --purple2: #612BA7;
    --b: #1C1C1C;
}

body {
    background-color: var(--b);
}
a {
    text-decoration: none;
    color:#fff;
}
.btn {
    background-color: var(--purple1);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
    text-transform: uppercase;
    width: 7em;
    height: 2.1em;
    cursor: pointer;
}
.c {
    position: absolute;
    background-color: var(--purple1);
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
}

.intro {
    background: linear-gradient(15deg, var(--purple2), var(--purple1));
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 33em;
    overflow: hidden;
    position: relative;
}
.intro .c1, .intro .c2 {
    position: absolute;
    left: -60px;
    bottom: -60px;
    width: 11em;
    height: 11em;
    background-color: #461e7b;
    border-radius: 50%;
}
.intro .c2 {
    left: 26px;
    bottom: -102px;
    width: 10em;
    height: 10em;
    background-color: #461e7bd1;
}
.intro .image {
    position: relative;
}
.intro .image::before {
    content: '';
    position: absolute;
    right: -2em;
    background: var(--purple2);
    width: 30em;
    height: 30em;
    border-radius: 50%;
}
.intro .image img {
    width: 33em;
    z-index: 2;
    position: relative;
}
.intro .text h1 {
    font-size: 4em;
}
.intro .text p {
    font-size: 20px;
    margin-top: 5px;
    max-width: 550px
}



/* Header and Footer */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}
header ul {
    display: flex;
    align-items: center;
    gap: 1.3em;
    list-style: none;
}
header ul li {
    color: #FFF;
    font-size: 18px
}
header .logo img {
    width: 5em
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4em;
    background-color: var(--purple2);
    padding: 1em 0;
    margin-top: 3em
}
footer .logo {
    width: 6em;
}

footer .links {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
}
footer .links a li {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
}

footer .socials {
    display: flex;
    align-items: center;
    gap: 2em
}
footer .socials img {
    width: 1.4em;
}
footer p {
    color: #fff;
}
/* Header and Footer */



/* Home Page */
.home-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 4em;
    overflow: hidden;
}
.home-intro .text {
    width: 50%;
    color: #FFF;
}
.home-intro .text h1 {
    font-size: 60px
}
.home-intro .text p {
    font-size: 22px;
    font-weight: 300;
    margin: 15px 0;
}
.home-intro .image {
    position: relative;
}
.home-intro .image::before {
    content: '';
    position: absolute;
    right: -5em;
    background: linear-gradient(45deg, var(--purple2), var(--purple2) ,var(--purple1));
    width: 37em;
    height: 37em;
    border-radius: 50%;
    z-index: -1;
}
.home-intro .image .man-vr {
    width: 28em;
    z-index: 5;
    position: relative;
    margin-bottom: -4px;
}
.home-intro .image .cube-icon {
    position: absolute;
    right: 42px;
    top: 12em;
    width: 7em;
    z-index: 1;
}

.home-intro .image .c1 {
    top: 4em;
    right: 7em;
}
.home-intro .image .c2 {
    top: 14em;
    left: 22px;
}
.home-intro .image .c3 {
    top: 21em;
    right: -5px;
}



.about {
    display: flex;
    justify-content: center;
    gap: 4em;
    padding: 12em 0
}

.about .images {
    position: relative;
    width: 45%;
}
.about .images::before {
    content: '';
    position: absolute;
    left: 3em;
    background: linear-gradient(45deg, var(--purple2), var(--purple2) ,var(--purple1));
    width: 32em;
    height: 32em;
    border-radius: 50%;
    z-index: -1;
}
.about .images img {
    position: absolute;
}
.about .vr-img {
    left: 7em;
    top: 4em;
    width: 37em;
    z-index: 5
}
.about .hat-img {
    width: 11em;
    left: 5em;
    top: 2em;
    transform: rotate(-14deg);
}
.about .pants-img {
    width: 15em;
    top: 17em;
    left: 7em;
    transform: rotate(-4deg);
    z-index: 1;
}
.about .tshirt-img {
    width: 20em;
    top: -4em;
    left: 14em;
    transform: rotate(5deg);
}
.about .images .c1 {
    left: 12em;
    top: -2em;
}
.about .images .c2 {
    left: 36em;
    top: 5em;
}
.about .images .c3 {
    left: 6em;
    top: 17em;
}
.about .images .c4 {
    left: 22em;
    top: 28em;
}

.about .text {
    color: #FFF;
    /* width: 50%; */
}
.about .text .title {
    position: relative;
    width: fit-content;
    margin-bottom: 20px
}
.about .text .title::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--purple1);
    position: absolute;
    bottom: -5px;
    left: 0
}
.about .text .title h2 {
    font-size: 30px;
}

.about .text p {
    font-weight: 300;
    font-size: 18px;
    max-width: 550px;
    line-height: 1.4em;
    margin-bottom: 15px;
}

.about .text button {
    font-size: 17px;
    text-transform: capitalize;
}



.features {
    color: #fff;
    padding: 15em 10em
}

.features .title {
    position: relative;
    right: -50%;
    transform: translateX(-50%);
    width: fit-content;
}
.features .title::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--purple1);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%)
}
.features .title h2 {
    font-size: 30px;
}

.features .fea-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin-top: 3em
}
.features .fea-list .fea {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.features .fea .icon {
    background: linear-gradient(45deg, var(--purple2), var(--purple2), var(--purple1));
    border-radius: 50%;
    width: 9.5em;
    height: 9.5em;
    position: relative;
    box-shadow: 0px 0px 8px 1px var(--purple1);
}
.features .fea .icon img {
    width: 6em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.features .fea h4 {
    font-size: 21px;
    margin: 10px 0px 6px;
}
.features .fea p {
    max-width: 350px;
    line-height: 1.3em;
    font-weight: 300;
}



.call {
    color: #FFF;
    background: linear-gradient(15deg, var(--purple2), var(--purple1));
    width: 60%;
    text-align: center;
    position: relative;
    right: -50%;
    transform: translateX(-50%);
    padding: 3em 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.call h2 {
    font-size: 33px;
}
.call p {
    max-width: 550px;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.3em;
    margin: 15px 0
}
.call .btn {
    background-color: #5a2d96;
    text-transform: capitalize;
}


.blog {
    padding: 6em 0
}
.blog .title {
    position: relative;
    right: -50%;
    transform: translateX(-50%);
    width: fit-content;
}
.blog .title::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--purple1);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%)
}
.blog .title h2 {
    font-size: 32px;
    color: #FFF;
}
.blog .last-articles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    margin-top: 3em;
    padding: 0 1em
}
.blog .last-articles .article {
    width: fit-content;
    color: #FFF;
}

.blog .last-articles .article .image {
    position: relative;
}
.blog .last-articles .article .image::after {
    content: '';
    background-color: #9747ff4d;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
}
.blog .last-articles .article img {
    width: 20em;
    border-radius: 4px
}

.blog .last-articles .article div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px
}
.blog .last-articles .article div h4 {
    font-weight: 500;
    max-width: 200px;
    font-size: 18px;
}
.blog .last-articles .article div p {
    font-weight: 200;
}
.blog .last-articles .article button {
    text-transform: capitalize;
    height: 1.8em;
    width: 5em;
    font-size: 17px;
    margin-top: 10px
}




/* Contact Page */
.contact {
    color: #FFF;
    display: flex;
    justify-content: space-around;
    padding: 4em 10em;
}

.contact .contact-info {
    
}
.contact .contact-info h2 {
    margin-bottom: 15px
}
.contact .contact-info .socials {
    list-style: none;
}
.contact .contact-info .socials li{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 15px
}
.contact .contact-info .socials li img {
    width: 1.7em;
}
.contact .contact-info .socials li p {

}


.contact form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.contact form input {
    width: 34em;
    height: 3em;
    padding-left: 7px;
    border: 3px solid var(--purple2);
    border-radius: 4px;
    outline: none;
}
.contact form input:focus {
    border: 2px solid var(--purple1)
}
.contact form input:nth-child(4) {
    height: 10em;
}
.contact form .btn {

}



/* About Page */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    padding: 4em 12em;
}
.about-section .sec {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 7em;
}
.about-section .sec .image {

}
.about-section .sec .image img {
    width: 35em;
    border-radius: 7px;
    box-shadow: -4px 4px 13px 0px var(--purple2);
}

.about-section .sec .text {
    color: #FFF;
}
.about-section .sec .text h2 {
    position: relative;
    width: fit-content;
    margin-bottom: 15px
}
.about-section .sec .text h2::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--purple1);
    position: absolute;
    bottom: -6px;
    left: 0
}
.about-section .sec .text p {
    max-width: 550px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3em;
    margin-top: 13px;
}


.testimonials {
    padding: 2em 0
}
.testimonials .title {
    color: #FFF;
    position: relative;
    right: -50%;
    transform: translateX(-50%);
    width: fit-content;
    text-align: center;
}
.testimonials .title h2 {
    font-size: 32px;
    margin-bottom: 15px;
    position: relative;
}
.testimonials .title h2::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--purple1);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%)
}
.testimonials .title p {
    font-weight: 300;
    font-size: 17px
}

.testimonials .test-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
    margin-top: 3em
}
.testimonials .test-list .test {
    color: #FFF;
    width: 20%;
    background: linear-gradient(20deg, var(--purple2), var(--purple1));
    padding: 1.5em;
    border-radius: 7px;
}
.testimonials .test-list .test .comment {
    max-width: 400px;
    text-align: center;
    line-height: 1.4em;
    margin-bottom: 15px;
}

.testimonials .test-list .test .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.testimonials .test-list .test .profile img {
    width: 4em;
    border-radius: 50%
}
.testimonials .test-list .test .profile .name {

}
.testimonials .test-list .test .profile .name h4 {

}
.testimonials .test-list .test .profile .name p {
    font-size: 14px;
}

.statistics {
    padding: 3em 0
}
.statistics h2 {
    color: #FFF;
    font-size: 35px;
    text-align: center;
    margin-bottom: -7px
}
.statistics .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 3em 0;
}
.statistics .st {
    color: #fff;
    background: var(--purple2);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: 8em
}
.statistics .st h3 {
    font-size: 38px;
}
.statistics .st p {
    font-size: 19px;
    font-weight: 500;
}








/* Blog Article */
.article {
    color: #fff;
    padding: 4em 22em
}
.article img {
    width: 45em;
}
.article h1 {
    background: var(--purple2);
    width: fit-content;
    padding: 2px 4px;
    margin-top: -5px;
}
.article p {
    margin-top: 10px;
    line-height: 1.4em;
    font-size: 19px;
    font-weight: 300;
    max-width: 1000px;
}